/* @import "$HOME/.config/colors/colors.css" */
/* @import "./colors.css"; */

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 5px;
    min-height: 0;
}

window,
tooltip {
    background-color: #04080D;
}

#waybar {
    background: rgba(4, 8, 13, 0.9);
    border-radius: 0px 0px 8px 8px;
}

#workspaces {
    margin: 1px 0;
}

#workspaces button {
    color: #D9E8F5;
    border: none;
    padding: 0 5px;
}

#workspaces button:hover {
    color: #D9E8F5;
    background-color: #1a1a1a;
    transition: none;
    border-bottom: 1px solid #FF4D4D;
    padding: 0 8px;
}

#workspaces button.focused {
    color: #04080D;
    background-color: #FF6B6B;
    border: none;
    padding: 0 8px;
    margin: 0 2px;
}

#workspaces button.active {
    color: #04080D;
    background-color: #FF6B6B;
    border: none;
    padding: 0 8px;
    margin: 0 2px;
}

#workspaces button.urgent {
    background-color: #FF4D4D;
    padding: 0 8px;
}

#custom-power,
#tray,
#bluetooth,
#network,
#battery,
#pulseaudio,
#clock,
#custom-powerprofile,
#mpris,
#custom-mic {
    color: #D9E8F5;
    margin: 1px 0;
    padding: 0 10px;
}

#custom-power:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#pulseaudio:hover,
#clock:hover,
#custom-powerprofile:hover,
#mpris:hover,
#custom-mic:hover {
    background-color: rgba(26, 26, 26, 0.6);
}

#bluetooth {
    color: #FF6B6B;
}

#network {
    color: #FF6B6B;
}

#battery {
    color: #FF4D4D;
}

#pulseaudio {
    color: #FF6B6B;
}

#custom-mic {
    color: #FF6B6B;
}

#clock {
    margin-right: 10px;
    color: #D9E8F5;
}

#custom-power {
    margin-left: 10px;
    padding: 0px 10px 0 15px;
}

#custom-powerprofile,
#mpris {
    color: #D9E8F5;
}

